{% load static %}

<div>
  <h2 id="project-collapse-heading-{{ forloop.counter }}" class="project-collapse-heading 2xl:w-[50%]">
    <button type="button"
      class="flex items-center justify-between w-full p-5 font-medium rtl:text-right text-gray-800 bg-gray-200 border border-gray-200{% if forloop.first %} rounded-t-xl{% endif %}{% if forloop.last %} rounded-b-xl{% else %} border-b-0{%endif%} focus:ring-0 gap-3"
      data-accordion-target="#project-collapse-{{ forloop.counter }}" aria-expanded="false"
      aria-controls="project-collapse-{{ forloop.counter }}">
      <span class="collapse-label">{{ project_exp.name }}</span>
      <svg data-accordion-icon class="w-3 h-3 rotate-180 shrink-0" aria-hidden="true" fill="none" viewBox="0 0 10 6">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5 5 1 1 5" />
      </svg>
    </button>
  </h2>
  <div id="project-collapse-{{ forloop.counter }}"
    class="project-collapse-body hidden border{% if forloop.last %} rounded-b-xl{% else %} border-b-0{% endif %} border-gray-200 p-5 2xl:w-[50%] relative"
    aria-labelledby="project-collapse-heading-{{ forloop.counter }}">
    <div class="project-exp grid grid-cols-1 sm:grid-cols-2">
      <p class="block text-gray-700 text-sm font-bold mb-2">Project Name</p>
      <p class="project-exp-name block text-gray-700 text-sm mb-2">{{ project_exp.name }}</p>

      {% if has_description %}
      <p class="block text-gray-700 text-sm font-bold mb-2">Description</p>
      <p class="project-exp-description block text-gray-700 text-sm mb-2">{{ project_exp.description }}</p>
      {% endif %}

      {% if has_repo_url %}
      <p class="block text-gray-700 text-sm font-bold mb-2">Repository URL</p>
      <a class="project-exp-repo break-all block text-cyan-500 text-sm mb-2" href="{{ project_exp.repository_url }}"
        aria-label="Go to the repository URL for {{ project_exp.name }}" target="_blank" rel="noopener">
        {{ project_exp.repository_url }}</a>
      {% endif %}

      {% if has_deployed_url %}
      <p class="block text-gray-700 text-sm font-bold mb-2">Deployed URL</p>
      <a class="project-exp-deploy break-all block text-cyan-500 text-sm mb-2" href="{{ project_exp.deployed_url }}"
        aria-label="Go to the deployed URL for {{ project_exp.name }}" target="_blank" rel="noopener">
        {{ project_exp.deployed_url }}</a>
      {% endif %}
    </div>
    <div class="absolute top-2 right-2 md:top-4 md:right-4 flex text-gray-700">
      <a type="button" class="edit-item w-4 h-4 sm:w-6 sm:h-6 mr-4" href="{% url 'edit_item' 'project' item_id %}"
        aria-label="Edit this item">
        <img src="{% static 'icons/pencil.svg' %}">
      </a>
      <button class="delete-exp-item w-4 h-4 sm:w-6 sm:h-6" aria-label="Delete this item" data-href="{% url 'delete_item' 'project' item_id %}?tab=projects">
        <img src="{% static 'icons/bin.svg' %}">
      </button>
    </div>
  </div>
</div>